.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.margin {
    padding: 15px;
}

#main {
    margin-left: 4em;
    margin-right: 4em;
}

.flex-center {
    margin-left: auto;
    margin-right: auto;
}

.full-width {
    width: 100%;
}

#title-volume img {
    width: 50%;
}

::-webkit-media-controls-panel {
    background: none;
}

::-webkit-media-controls-timeline,
::-webkit-media-controls-current-time-display {
    display: none;
}

#dj-image {
    max-height: 180px;
}

#top-banner {
    display: fixed;
    & > a {
        margin-left: 1em;
    }
    & > form {
        float: right;
        display: inline;
    }
}
