.flex-row {
    display: flex;
    flex-direction: row;
    &:not(nav) {
        & > *:first-child {
            margin-right: auto;
        }
        & > *:not(:first-child):not(:last-child) {
            margin-left: auto;
            margin-right: auto;
            width: 100%;
        }
        & > *:last-child {
            margin-left: auto;
        }
    }
}

.flex-column {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
}

.flex-center {
    margin-left: auto;
    margin-right: auto;
}

.margin {
    padding: 15px;
}

#main {
    margin-left: 4em;
    margin-right: 4em;
}

.flex-center {
    margin-left: auto;
    margin-right: auto;
}

.full-width {
    width: 100%;
}

#title-volume img {
    width: 50%;
}

::-webkit-media-controls-panel {
    background: none;
}

::-webkit-media-controls-timeline,
::-webkit-media-controls-current-time-display {
    display: none;
}

#dj-image {
    max-height: 180px;
}

#progress-bar-inner {
    max-width: 100%;
}

#top-banner {
    position: fixed;
    left: 0;
    right: 0;
    width: 100vw;
    top: 0;
    padding: 0.5em;
    & > a {
        margin-left: 0.5em;
    }
    & > form {
        margin-left: auto;
        padding-right: 1em;
        max-width: 30em;
        width: 100%;
        input {
            width: 100%;
        }
    }
}

article {
    header {
        font-weight: bold;
        font-size: 150%;
        text-align: center;
    }
    table {
        padding: 0.5em;
    }
}

.round-corners {
    box-sizing: border-box;
    border-radius: 10px;
}

@media (max-width: 850px) {
    .flex-row {
        flex-direction: column;
        & > * {
            margin: auto;
        }
    }
    #logo {
        display: none;
    }
    #dj-image {
        max-height: 17vh;
    }
    #top-banner {
        position: initial;
        form {
            max-width: 90vw;
        }
    }
    #main {
        margin-left: 0;
        margin-right: 0;
    }
    .margin {
        padding-left: 0;
        padding-right: 0;
    }
}
